$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower
body{overflow-x:hidden;}
		$color:#eee;
		@mixin member($height) {
			height:$height;
			background-size: 100% auto;
			border: solid 1px black;
			vertical-align: middle;
			line-height: $height;
			background-color: $color;
			padding:0px;
			transition: all 350ms ease-out;
			font-family: 'Orbitron', sans-serif;
		}
.container{
width:100%;
	.container-fluid{
		background-image: url(../images/idk.jpg);
		background-size:100% auto;
		background-attachment: fixed;
		background-position: center;
	    bottom: 0;  
	    left: 0;
	    margin: auto;
	    position: absolute;
	    top: 0;
	    right: 0;
  		font-family: 'Orbitron', sans-serif;
		div{
			background-color: #eee;
			background: linear-gradient(to bottom, rgba(142,142,142,1) 0%,rgba(142,142,142,0.97) 56%,rgba(255,255,255,0.94) 100%);
			color:#428bca;
			-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;

		}

	}

	nav{

		ol{

			li{

				a{

					&#Start-screen{



					}
					&#Members{



					}
					//other link styles

				}

			}

		}

	}
	section{

		&.text-center{
			//All of the members section
			text-transform: uppercase;

			h3{

				

			}

			div{

				@include member(200px);

			}

		}

		&.text-justify{
		//About section

			h3{



			}

			p{



			}

		}

	}




}
@media (max-width: 978px) {
	.container {
	 padding:0;
	 margin:0;
	}
      
    body {
     padding:0;
    }
  	.row{
  		margin-left: 0;
      margin-right: 0;
  	  margin-bottom:0;
  	  
  	}
  	.container-fluid{
  		.row{
  		margin-left: -15px;
      margin-right: -15px;
  	  margin-bottom:0;
  	  .row{margin: 0 auto;}
  	}
  	}
}