$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower
body{overflow-x:hidden;}
$color:#eee;
@mixin member($height) {
	height:$height;
	background-size: 100% auto;
	border: solid 1px black;
	vertical-align: middle;
	line-height: $height;
	background-color: $color;
	padding:0px;
	transition: all 200ms ease-out;
	font-family: 'Orbitron', sans-serif;
}
.container{
width:100%;
	.container-fluid{
		background: red;
	    bottom: 0;  
	    left: 0;
	    margin: auto;
	    position: absolute;
	    top: 0;
	    right: 0;
  		font-family: 'Orbitron', sans-serif;
		.row{

			div{

				.row{

					h2{



					}

				}
			}

		}

	}

	nav{

		ol{

			li{

				a{

					&#Start-screen{



					}
					&#Members{



					}
					//other link styles

				}

			}

		}

	}
	section{

		&.text-center{
			//All of the members section
			text-transform: uppercase;

			h3{

				

			}

			div{

				@include member(200px);

			}

		}

		&.text-justify{
		//About section

			h3{



			}

			p{



			}

		}

	}




}