$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower
$color:#050505;
html, body{
	overflow-x:hidden;
	background-color: $color;
}
		
		@mixin member($height) {
			border-radius:0;
			height:$height;
			background-size: auto 100%;
			vertical-align: middle;
			background-color: $color;
			padding:0px;
			transition: all 760ms ease-out;
			font-family: 'Orbitron', sans-serif;
			text-indent: -4999px;
			text-transform: capitalize;
			background-position: center center;
			background-repeat: no-repeat;
			-ms-interpolation-mode: bicubic; 
			h3{
				position: absolute;
				top: 0px;
				display: block;
				width: 100%;
				text-align: center;
				color:#FFF;	
				font-size:3em;			
			}
			p{
				height:100%;
				font-family: Arial, sans-serif;
				padding:175px 100px 100px 100px;
				color:#FFF;
				white-space:normal;
				word-wrap:normal;
			}
		}
.container{
width:100%;
	.container-fluid{/*
		background-image: url(../images/idk.jpg);
		background-size:cover;
		-webkit-background-size:cover;*/
		background-attachment: fixed;/*
		background-position: center;*/
	    bottom: 0;  
	    left: 0;
	    margin: auto;
	    position: absolute;
	    top: 0;
	    right: 0;
  		font-family: 'Orbitron', sans-serif;
		div{
			
			

		}

	}

	nav{

		ol{

			li{

				a{border-bottom-color: $color+#020202;

					&#Start-screen{background-color: $color;



					}
					&#Members{



					}
					//other link styles

				}

			}

		}

	}
	section{

		&.text-center{
			//All of the members section
			text-transform: uppercase;

			h3{

				

			}


			div{

				&.row{

					@include member(auto);
					margin-bottom:150px;margin-left:0;margin-right: 0;
					width:100%;

				}

				@include member(auto);
				

			}

		}

		&.text-justify{
		//About section

			h3{



			}

			p{



			}

		}

	}




}
@media (max-width: 978px) {
	.container {
	 padding:0;
	 margin:0;
	}
      
    body {
     padding:0;
    }
  	.row{
  		margin-left: 0;
      margin-right: 0;
  	  margin-bottom:0;
  	  
  	}
  	.container-fluid{
  		.row{
  		margin-left: -15px;
      margin-right: -15px;
  	  margin-bottom:0;
  	  .row{margin: 0 auto;}
  	}
  	}
  	@media (max-width: 320px) {
  				#Perf{
					background-image: url(../images/mobile/small/Perfection.png);
				}
				#Boom{
					background-image: url(../images/mobile/small/Boom.png);
				}
				#Zukko{
					background-image: url(../images/mobile/small/Zukko.png);
				}
				#Nick{
					background-image: url(../images/mobile/small/Nick.png);
					background-size:cover;
				}
				#Copy{
					background-image: url(../images/mobile/small/Copy.png);
					background-size:cover;
				}
				#Hybrid{
					background-image: url(../images/mobile/small/Hybrid.png);
					background-size:cover;
				}
				#Rezyy{
					background-image: url(../images/mobile/small/Rezyy.png);
					background-size:cover;
				}
				#Legit{
					background-image: url(../images/mobile/small/Legit.png);
					background-size:cover;
				}
				#Myst{
					background-image: url(../images/mobile/small/Myst.png);
					background-size:cover;
				}
				#Bolt{
					background-image: url(../images/mobile/small/Bolt.png);
					background-size:cover;
				}
				#Blaze{
					background-image: url(../images/mobile/small/Blaze.png);
					background-size:cover;
				}
			}
  	@media (min-width: 320px) {
  				#Perf{
					background-image: url(../images/mobile/Perfection.png);
				}
				#Boom{
					background-image: url(../images/mobile/Boom.png);
				}
				#Zukko{
					background-image: url(../images/mobile/Zukko.png);
				}
				#Nick{
					background-image: url(../images/mobile/Nick.png);
				}
				#Copy{
					background-image: url(../images/mobile/Copy.png);
				}
				#Hybrid{
					background-image: url(../images/mobile/Hybrid.png);
				}
				#Rezyy{
					background-image: url(../images/mobile/Rezyy.png);
				}
				#Legit{
					background-image: url(../images/mobile/Legit.png);
				}
				#Myst{
					background-image: url(../images/mobile/Myst.png);
				}
				#Bolt{
					background-image: url(../images/mobile/Bolt.png);
				}
				#Blaze{
					background-image: url(../images/mobile/Blaze.png);
				}
			}

}

@media (min-width: 979px) {
  	
  				#Perf{
					background-image: url(../images/Perfection.png);
					
				}
				#Boom{
					background-image: url(../images/Boom.png);
					
				}
				#Zukko{
					background-image: url(../images/Zukko.png);
					
				}
				#Nick{
					background-image: url(../images/Nick.png);
					
				}
				#Copy{
					background-image: url(../images/Copy.png);
					
				}
				#Hybrid{
					background-image: url(../images/Hybrid.png);
					
				}
				#Rezyy{
					background-image: url(../images/Rezyy.png);
					
				}
				#Legit{
					background-image: url(../images/Legit.png);
					
				}
				#Myst{
					background-image: url(../images/Myst.png);
					
				}
				#Bolt{
					background-image: url(../images/Bolt.png);
					
				}
				#Blaze{
					background-image: url(../images/Blaze.png);
					
				}

			
		}